<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>关于 | JSER</title>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">关于 JSER</h5>
    <div class="card-panel">
        <h4><strong>社区</strong></h4>
        <p>JSER 是一个 “纯粹而简单” 的 “JS程序猿” 社区 ...<p>
        <h4><strong>源码</strong></h4>
        <p>同时，JSER 还是一个开源的技术社区软件，
            开源地址: <a target="_blank" href="https://github/jser-dev/jser">https://github/jser-dev/jser</a>
        </p>
    </div>
</div>

<% $.placeEnd() %>