<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>关于 | JSER</title>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">关于 JSER</div>
    <div class="panel-body">
        <h4><strong>社区</strong></h4>
        <p>JSER 是一个 “纯粹而简单” 的 “JS程序猿” 社区，目前由 <a href="https://github.com/houfeng">@Houfeng</a> 负责维护。<p>
        <h4><strong>软件</strong></h4>
        <p>同时，JSER 还是一个开源的社区软件，与 JSER 社区同名，
            开源地址: 
            <a target="_blank" href="https://github.com/jser-dev/jser">
                https://github.com/jser-dev/jser
            </a>
        </p>
    </div>
</div>

<% $.placeEnd() %>