<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>客户端 - <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">客户端</div>
    <div class="panel-body">
        ...
    </div>
</div>

<% $.placeEnd() %>