<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>忘记密码 - <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">忘记密码</div>
    <div class="panel-body">
   
        <% this.data=this.data||{} %>
        <form action="/signin/submit" method="post" autocomplete="off">
            <p class="form-row alert-text">
                <label class="hidden-xs"></label>
                <%= this.message %>
            </p>
            <p class="form-row">
                <label>邮箱</label>
                <input name="email" type="text" value="" placeholder="请输入作为账号的邮箱..."/>
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <input type="submit" value="提交"/>
            </p>
            <p class="form-row">
                <label></label>
            </p>
        </form>

    </div>
</div>

<% $.placeEnd() %>