<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>我的消息 | <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<% var user = this.user  %>
<div class="panel panel-default">
    <div class="panel-heading">
        我的消息
        <ul class="pull-right heading-nav">
            <!--<li>
                <form method="post" action="/message/markAllAsRead">
                    <a href="javascript:;" onclick="this.parentNode.submit()">全部标记为已读</a>
                </form>
            </li>-->
            <li>
                <form method="post" action="/message/deleteAll">
                    <a href="javascript:;" onclick="this.parentNode.submit()">清空</a>
                </form>
            </li>
        </ul>
    </div>
    <div class="panel-body">
       <% if(this.msgList &&　this.msgList.length>0){ %>
        <ul class="integral-list topic-list">
            <% $.each(this.msgList,function(i,item){ %>
            <li>
                <a style="color:<%= item.status!=0?'#999':'#111' %>;" href="/message/openLink?msgId=<%= item._id %>"><%= item.content %></a>            
                <span class="topic-info" title="<%= $.formatDate(item.sendAt,'yyyy-MM-dd hh:mm') %>">
                     [<%= $.timeago(item.sendAt) %>]
                </span>
                <form class="inline pull-right" method="post" action="/message/delete">
                    <input type="hidden" name="msgId" value="<%= item._id %>"/>
                    <a href="javascript:;" onclick="this.parentNode.submit()">删除</a>
                </form>
            </li>
            <% }.bind(this)); %>
        </ul>
        <% }else{ %>
        <p class="topic-empty align-left">没有消息</p>
        <% } %>
    </div>
</div>

<% $.placeEnd() %>