<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>个人中心 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div class="panel-body">
       <form action="/profile/save" method="post" autocomplete="off">
            <p class="form-row alert-text">
                <label></label>
                <%= this.message %>
            </p>
            <p class="form-row">
                <label>邮件</label>
                <input name="email" type="email" readonly="readonly" value="<%= this.user.email %>"/>
            </p>
            <p class="form-row">
                <label>名称</label>
                <input name="name" type="text" value="<%= this.user.name %>"/>
            </p>
            <p class="form-row">
                <label>头像</label>
                <input name="avatar" type="file" value="<%= this.user.email %>"/>
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <img class="profile-avatar" src="<%= this.user.avatar %>"/>
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <input type="submit" value="保存"/>
            </p>
            <p class="form-row">
                <label></label>
            </p>
       </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">修改密码</div>
    <div class="panel-body">
       <form action="/profile/save" method="post" autocomplete="off">
            <p class="form-row alert-text">
                <label></label>
                <%= this.message %>
            </p>
            <p class="form-row">
                <label>密码</label>
                <input name="passowrd" type="password"/>
            </p>
            <p class="form-row">
                <label>确认</label>
                <input name="passowrd" type="password"/>
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <input type="submit" value="保存"/>
            </p>
            <p class="form-row">
                <label></label>
            </p>
       </form>
    </div>
</div>

<% $.placeEnd() %>