<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>个人中心 - <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<a id="saveBaseInfo"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        基本信息
    </div>
    <div class="panel-body profile">
       <form action="/profile/saveBaseInfo#saveBaseInfo" method="post" enctype="multipart/form-data" autocomplete="off">
            <p class="form-row alert-text">
                <label class="hidden-xs"></label>
                <%= this.saveBaseInfoMessage %>
            </p>
            <p class="form-row">
                <label>邮件</label>
                <input name="email" type="email" readonly="readonly" value="<%= this.user.email %>"/>
            </p>
            <p class="form-row">
                <label>名称</label>
                <input name="name" type="text" value="<%= this.user.name %>"/>
            </p>
            <p class="form-row">
                <label>头像</label>
                <input name="avatar" type="file" accept="image/png,image/jpg,image/gif,image/bmp"/>
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <img class="avatar" src="<%= this.user.avatar %>" />
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <input type="submit" value="保存"/>
            </p>
            <p class="form-row">
                <label></label>
            </p>
       </form>
    </div>
</div>

<a id="changePassword"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        修改密码
    </div>
    <div class="panel-body">
       <form action="/profile/changePassword#changePassword" method="post" autocomplete="off">
            <p class="form-row alert-text">
                <label class="hidden-xs"></label>
                <%= this.changePasswordMessage %>
            </p>
            <p class="form-row">
                <label>新密码</label>
                <input name="password" type="password"/>
            </p>
            <p class="form-row">
                <label>确认</label>
                <input name="confirmPassword" type="password"/>
            </p>
            <p class="form-row">
                <label class="hidden-xs"></label>
                <input type="submit" value="保存"/>
            </p>
            <p class="form-row">
                <label></label>
            </p>
       </form>
    </div>
</div>

<% $.placeEnd() %>