<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>搜索 | <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() %>
   
<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">话题</div>
    <div class="panel-body">
        <% if(this.topicList &&　this.topicList.length>0){ %>
        <ul class="media-list topic-list">
            <% $.each(this.topicList,function(i,item){ %>
            <li class="media">
                <a class="media-left" href="/user/<%= item.author.name %>">
                    <img class="media-object avatar" src="<%= item.author.avatar %>" alt="<%= item.author.name %>">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <label class="topic-type"><%= $.configs.topicTypes[item.type].text %></label>                 
                        <a href="/topic/<%= item.id %>"><%= item.title %></a>
                        <% if(item.good){ %>
                        <label class="topic-label good">精华</label>
                        <% } %>
                    </h4>
                    <span class="topic-info">
                        <a href="/user/<%= item.author.name %>"><%= item.author.name %></a> 
                        发布于 
                        <span title="<%= $.formatDate(item.createAt,'yyyy-MM-dd hh:mm') %>">
                            <%= $.timeago(item.createAt) %>
                        </span> , 
                        <% if(item.lastReplayAuthor){ %>
                            <a href="/user/<%= item.lastReplayAuthor.name %>">
                                <%= item.lastReplayAuthor.name %>
                            </a>
                            回复于 
                            <span title="<%= $.formatDate(item.lastReplayAt,'yyyy-MM-dd hh:mm') %>">
                                <%= $.timeago(item.lastReplayAt) %>
                           </span>
                        <% }else{ %>
                            无人回复
                        <% } %>
                    </span>
                </div>
                <div class="media-right">
                    <a href="/topic/<%= item.id %>#comments">
                        <span class="badge"><%= item.replay %>/<%= item.read %></span>
                    </a>
                </div>
            </li>
            <% }.bind(this)); %>
        </ul>
        <% }else{ %>
        <p class="topic-empty align-left">没有匹配的话题</p>
        <% } %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">用户</div>
    <div class="panel-body">
       <% if(this.userList &&　this.userList.length>0){ %>
       <ul class="integral-list user-search-list">
            <% $.each(this.userList,function(i,item){ %>
            <li>
                <a href="/user/<%= item.name %>">
                <img alt="<%= item.name %>" class="avatar" src="<%= item.avatar %>" />
                <%= item.name %>
                </a>
                <span class="pull-right topic-info">
                     <%= item.integral %>
                </span>
            </li>
            <% }.bind(this)); %>
        </ul>
       <% }else{ %>
       <p class="topic-empty align-left">没有匹配的用户</p>
       <% } %>
    </div>
</div>

<% $.placeEnd() %>