<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>登录 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">登录</h5>
    <div class="card-panel">
        
        <p><%= this.message %></p>
        <% this.data=this.data||{} %>
        <form action="/signin/submit" method="post">
            <p class="form-row">
                <label>邮箱:</label>
                <input name="email" type="text" value="<%= this.data.email %>"/>
            </p>
            <p class="form-row">
                <label>密码:</label>
                <input name="password" type="text" value="<%= this.data.password %>"/>
            </p>
            <p class="form-row">
                <label></label>
                <input type="submit" value="提交"/>
            </p>
        </form>

    </div>
</div>

<% $.placeEnd() %>