<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>登录</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">登录</h5>
    <div class="card-panel">
        
        <p><%= this.message %></p>
        <% this.data=this.data||{} %>
        <form action="/signin/submit" method="post">
            <p>账号: <input name="account" value="<%= this.data.account %>"/></p>
            <p>密码: <input name="password"  value="<%= this.data.password %>"/></p>
            <input type="submit" value="提交"/>
        </form>

    </div>
</div>

<% $.placeEnd() %>