<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>注册 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">注册</h5>
    <div class="card-panel">
        <% if(this.status){ %>
            <p><%= this.message %></p>
        <% }else{ %>
            <% this.data=this.data||{} %>
            <form action="/signup/submit" method="post">
                <p class="form-row alert-text">
                    <label></label>
                    <%= this.message %>
                </p>
                <p class="form-row">
                    <label>邮件</label>
                    <input name="email" type="email" value="<%= this.data.email %>"/>
                </p>
                <p class="form-row">
                    <label>密码</label>
                    <input name="password" type="password" value="<%= this.data.password %>"/>
                </p>
                <p class="form-row">
                    <label>密码</label>
                    <input name="password-confirm" type="password" value="<%= this.data.password %>"/>
                </p>
                <p class="form-row">
                    <label class="hidden-xs"></label>
                    <input type="submit" value="现在注册"/>
                    <a href="/signin">已有账号登录</a>
                </p>
                <p class="form-row">
                    <label></label>
                </p>
            </form>
        <% } %>
    </div>
</div>


<% $.placeEnd() %>