<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>登录 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">登录</h5>
    <div class="card-panel">
   
        <% this.data=this.data||{} %>
        <form action="/signin/submit" method="post">
            <p class="form-row alert-text">
                <label></label>
                <%= this.message %>
            </p>
            <p class="form-row">
                <label>邮箱</label>
                <input name="email" type="text" value="<%= this.data.email %>"/>
            </p>
            <p class="form-row">
                <label>密码</label>
                <input name="password" type="password" value="<%= this.data.password %>"/>
            </p>
            <p class="form-row">
                <label></label>
                <input type="submit" value="立即登录"/>
                <a href="/oauth/github">GitHub 登录</a>
            </p>
            <p class="form-row">
                <label></label>
            </p>
        </form>

    </div>
</div>

<% $.placeEnd() %>