<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>注册</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">关于 JSER</h5>
    <div class="card-panel">
        <% if(this.status){ %>
            <p><%= this.message %></p>
        <% }else{ %>
            <p><%= this.message %></p>
            <% this.data=this.data||{} %>
            <form action="/signup/submit" method="post">
                <p class="form-row">
                    <label>邮件:</label>
                    <input name="email" type="email" value="<%= this.data.email %>"/>
                </p>
                <p class="form-row">
                    <label>密码:</label>
                    <input name="password" type="password" value="<%= this.data.password %>"/>
                </p>
                <p class="form-row">
                    <label>密码:</label>
                    <input name="password-confirm" type="password" value="<%= this.data.password %>"/>
                </p>
                <p class="form-row">
                    <label></label>
                    <input type="submit" value="提交"/>
                </p>
            </form>
        <% } %>
    </div>
</div>


<% $.placeEnd() %>