<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>编辑话题 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">
        编辑话题
    </h5>
    <div class="card-panel">
        <p class="form-row">
            <h5>标题</h5>
            <input type="text">
        </p>
        <p class="form-row">
            <h5>内容</h5>
            <textarea name="" id="" cols="30" rows="10">
            </textarea>
        </p>
        <p class="form-row">
            <h5>类别</h5>
            <ul>
                <li><input type="checkbox" name="" id="">分享</li>
                <li><input type="checkbox" name="" id="">问答</li>
                <li><input type="checkbox" name="" id="">活动</li>
            </ul>
        </p>
    </div>
</div>

<% $.placeEnd() %>