<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>话题 | JSER</title>
    <link rel="stylesheet" href="/mditor/build/css/mditor.min.css">
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">
        <%= this.topic.title %>
    </h5>
    <div class="card-panel">
        <p>
            <%= this.topic.content %>
        </p>
        <br/><br/>
        <form action="/topic/<%= this.id %>/comment" method="post">
            <p class="form-row">
                <textarea name="content" id="editor" placeholder="内容..."></textarea>
            </p>
            <p class="form-row align-right" style="margin-bottom:0px;">
                 <input type="submit" value="提交评论">
            </p>
        </form>
    </div>
</div>

<script src="/mditor/build/js/mditor.min.js"></script>
<script>
    var mditor = new Mditor("#editor");
</script>

