<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>话题 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">
        <a class="tab <%= this.currentType=='all'?'active':'' %>" href="/topic">所有</a>
        <% $.each(this.types,function(i,item){ %>
        <a class="tab <%= this.currentType==item.name?'active':'' %>" href="/topic/<%= item.name %>/page/1">
            <%= item.text %>
        </a>
        <% }.bind(this)) %>
    </h5>
    <div class="card-panel">
       <ul class="list">
           <% $.each(this.list,function(i,item){ %>
           <li><a href="/topic/<%= item.id %>"><%= item.title %></a></li>
           <% }.bind(this)); %>
       </ul>
        <ul class="pagination">
            <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </div>
</div>

<% $.placeEnd() %>