<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>编辑话题 | <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
    <link rel="stylesheet" href="/mditor/build/css/mditor.min.css">
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">
        编辑话题
    </div>
    <form class="panel-body" action="/topic/<%= this.id %>/edit/submit" method="post" autocomplete="off">
        <p class="form-row mwf">
            <input name="title" type="text" class="input-block" placeholder="标题(10字以上)..." mamaxlength="144" value="<%= this.topic.title %>">
        </p>
        <p class="form-row">
            <textarea name="content" id="editor" class="editor" placeholder="内容..."><%= this.topic.content %></textarea>
        </p>
        <p class="form-row">
            <ul class="checkbox-list">
                <% $.each($.configs.topicTypes,function(name,item){ %>
                    <% if(item.admin)return; %>
                    <li>
                        <input type="radio" name="type" id="<%= name %>" value="<%= name %>" <%= name==this.topic.type?'checked':'' %>>
                        <label for="<%= name %>"><%= item.text %></label>
                    </li>
                <% }.bind(this)) %>
            </ul>
        </p>
        <p class="form-row align-right">
            <input type="submit" value="发布">
        </p>
    </form>
</div>

<script src="/mditor/build/js/mditor.min.js"></script>
<script>
    var mditor = new Mditor("#editor",{
        height:240,
        fixedHeight:true
    });
</script>