<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <meta name="description" content="JSER 社区">
    <meta name="author" content="jser team">
    <title>话题 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">
        <a class="tab <%= this.currentType=='all'?'active':'' %>" href="/topic">所有</a>
        <% $.each(this.types,function(i,item){ %>
        <a class="tab <%= this.currentType==item.name?'active':'' %>" href="/topic/<%= item.name %>/page/1">
            <%= item.text %>
        </a>
        <% }.bind(this)) %>
    </div>
    <div class="panel-body">
        <ul class="media-list topic-list">
            <% $.each(this.list,function(i,item){ %>
            <li class="media">
                <a class="media-left" href="/user/<%= item.author.id %>">
                    <img class="media-object avatar" src="<%= item.author.avatar %>" alt="<%= item.author.name %>">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="/topic/<%= item.id %>"><%= item.title %></a>
                    </h4>
                    <span class="topic-info">
                        <a href="/user/<%= item.author.id %>"><%= item.author.name %></a> 
                        发布于 <%= $.formatDate(item.createAt,"yyyy-MM-dd hh:mm") %>
                    </span>
                </div>
                <div class="media-right">
                    <span class="badge"><%= item.replay %>/<%= item.read %></span>
                </div>
            </li>
            <% }.bind(this)); %>
        </ul>
    </div>
    <div class="panel-footer">
        <ul class="pagination">
            <li>
            <a href="/topic/<%= this.currentType %>/page/1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <% for(var i=this.pageBegin;i<=this.pageEnd;i++){ %>
            <li class="<%= this.pageIndex==i?'active':'' %>">
                <a href="/topic/<%= this.currentType %>/page/<%= i %>"><%= i %></a>
            </li>
            <% } %>
            <li>
            <a href="/topic/<%= this.currentType %>/page/<%= this.pageCount||1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </div>
</div>

<% $.placeEnd() %>