<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>话题 | JSER</title>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="card">
    <h5 class="card-title">
        <a class="tab <%= this.currentType=='all'?'active':'' %>" href="/topic">所有</a>
        <% $.each(this.types,function(i,item){ %>
        <a class="tab <%= this.currentType==item.name?'active':'' %>" href="/topic/<%= item.name %>/page/1">
            <%= item.text %>
        </a>
        <% }.bind(this)) %>
    </h5>
    <div class="card-panel">
        <%= this.currentType %>
    </div>
</div>

<% $.placeEnd() %>