<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>编辑话题 - <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default">
     <% var user = $.context.user  %>
    <div class="panel-heading">
        编辑话题
        <% if(user && (user.isAdmin||user._id.toString()==this.topic.author._id.toString())){ %>
        <form class="pull-right inline" method="post" action="/topic/<%= this.id %>/delete">
            <a href="javascript:;" onclick="if(confirm('确认删除当前话题'))this.parentNode.submit()">删除</a>
        </form>
        <% } %>
    </div>
    <form class="panel-body" action="/topic/<%= this.id %>/edit/submit" method="post" autocomplete="off">
        <p class="form-row alert-text">
            <%= this.saveMessage %>
        </p>
        <p class="form-row mwf">
            <input name="title" type="text" class="input-block" placeholder="标题(10字以上)..." mamaxlength="144" value="<%= this.topic.title %>">
        </p>
        <p class="form-row">
            <textarea name="content" id="editor" class="editor" placeholder="内容..."><%= this.topic.content %></textarea>
        </p>
        <p class="form-row">
            <ul class="checkbox-list">
                <% $.each($.configs.topicTypes,function(name,item){ %>
                    <% if(item.admin)return; %>
                    <li>
                        <input type="radio" name="type" id="<%= name %>" value="<%= name %>" <%= name==this.topic.type?'checked':'' %>>
                        <label for="<%= name %>"><%= item.text %></label>
                    </li>
                <% }.bind(this)) %>
            </ul>
        </p>
        <p class="form-row align-right">
            <input id="publish" name="publish" type="checkbox" value="1" <%= this.topic.status==$.status.topic.PUBLISH?'checked':'' %>>
            <label for="publish" style="width:auto;">发布</label>
            <input type="submit" value="保存">
        </p>
    </form> 
    <div id='uploadImage' class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">上传并插入图片</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <input type="file" name="image" id="image">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script>
    var mditor = new Mditor("#editor",{
        height:240,
        fixedHeight:true
    });
</script>