<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>话题 | JSER</title>
    <link rel="stylesheet" href="/mditor/build/css/mditor.min.css">
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default topic-view">
    <div class="panel-heading">
        <div class="media">
            <a class="media-left" href="/user/<%= this.topic.author.id %>">
                <img class="media-object avatar" src="<%= this.topic.author.avatar %>" alt="<%= this.topic.author.name %>">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <%= this.topic.title %>
                </h4>
                <span class="topic-info">
                    <a href="/user/<%= this.topic.author.id %>"><%= this.topic.author.name %></a> 
                    发布于 <%= $.formatDate(this.topic.datetime,"yyyy-MM-dd hh:mm") %>
                </span>
            </div>
            <div class="media-right">
        
            </div>
        </div>
    </div>
    <div class="panel-body markdown-body">
        <%= this.topic.content %>
    </div>
    <form class="panel-footer" action="/topic/<%= this.id %>/comment" method="post">
            <p class="form-row">
                <textarea name="content" id="editor" placeholder="内容..."></textarea>
            </p>
            <p class="form-row align-right" style="margin-bottom:0px;">
                 <input type="submit" value="提交评论">
            </p>
    </form>
</div>

<script src="/mditor/build/js/mditor.min.js"></script>
<script>
    var mditor = new Mditor("#editor");
</script>

