<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title><%= this.topic.title %> | <%= $.configs.name %></title>
    <meta name="keywords" content="<%= this.topic.tags||this.topic.title %>,<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= this.topic.title %> | <%= $.configs.description %>"/>
    <meta name="author" content="<%= this.topic.author.name %>">
    <link rel="stylesheet" href="/mditor/build/css/mditor.min.css">
<% $.placeEnd() >

<% $.placeBegin("content") %>

<div class="panel panel-default topic-view">
    <div class="panel-heading">
        <div class="media">
            <a class="media-left" href="/user/<%= this.topic.author.name %>">
                <img class="media-object avatar" src="<%= this.topic.author.avatar %>" alt="<%= this.topic.author.name %>">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <%= this.topic.title %>
                </h4>
                <span class="topic-info">
                    <a href="/user/<%= this.topic.author.name %>"><%= this.topic.author.name %></a> 
                    创建于 <%= $.timeago(this.topic.createAt,"yyyy-MM-dd hh:mm") %> , 
                    编辑于 <%= $.timeago(this.topic.updateAt,"yyyy-MM-dd hh:mm") %>
                </span>
            </div>
            <div class="media-right">
            </div>
        </div>
    </div>
    <div class="panel-body markdown-body">
        <%= this.topic.html %>
        <a id="control"></a>
    </div>
    <div class="panel-footer">
        <!--<div class="thumbs pull-right">
            <i class="fa fa-thumbs-o-up" title="赞的人数">10</i>
            <i class="fa fa-thumbs-o-down" title="踩的人数">2</i>
        </div>-->
        <% var user = $.controller.context.user  %>
        <% if(user && (user.isAdmin||user._id.toString()==this.topic.author._id.toString())){ %>
        <form class="inline" method="post" action="/topic/<%= this.topic.id %>/edit">
            <i class="fa fa-edit" title="编辑" onclick="this.parentNode.submit()"></i>
        </form>
        <form class="inline" method="post" action="/topic/<%= this.topic.id %>/delete">
            <i class="fa fa-trash-o" title="删除" onclick="if(confirm('确认删除当前话题'))this.parentNode.submit()"></i>
        </form>
        <% } %>
        <% if(user && user.isAdmin){ %>
        <form class="inline" method="post" action="/topic/<%= this.topic.id %>/<%= this.topic.top>0?'removeTop':'setTop' %>">
            <i class="fa fa-thumb-tack <%= this.topic.top>0?'active':'' %>" title="置顶" onclick="this.parentNode.submit()"></i>
        </form>
        <form class="inline" method="post" action="/topic/<%= this.topic.id %>/<%= this.topic.good?'removeGood':'setGood' %>">
            <i class="fa fa-certificate <%= this.topic.good?'active':'' %>" title="精华" onclick="this.parentNode.submit()"></i>
        </form>
        <% } %>
    </div>
</div>

<a id="comments" class="anchor"></a>
<div class="panel panel-default">
    <div class="panel-heading">
        回复(<%= this.topic.comments.length %>)
    </div>
    <div class="panel-body">
        <% if(this.topic.comments && this.topic.comments.length>0){ %>
        <ul class="media-list comment-list">
            <% $.each(this.topic.comments,function(i,item){ %>
            <li class="media">
                <a id="<%= item.id %>" class="anchor"></a>
                <a class="media-left" href="/user/<%= item.author.name %>">
                    <img class="media-object avatar" src="<%= item.author.avatar %>" alt="<%= item.author.name %>">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">               
                        <a href="/user/<%= item.author.name %>">
                            <%= item.author.name %>
                        </a>
                        - <%= i+1 %>楼 -   
                        <span title="<%= $.formatDate(item.createAt,'yyyy-MM-dd hh:mm') %>">
                            <%= $.timeago(item.createAt) %>
                        </span>
                        <% if(user && (user.isAdmin||user._id.toString()==item.author._id.toString())){ %>
                        <form class="pull-right inline" method="post" action="/topic/<%= this.topic.id %>/delComment">
                            <input type="hidden" name="commentId" value="<%= item.id %>"> 
                            <a href="javascript:;" onclick="if(confirm('确认删除当前话题'))this.parentNode.submit()">删除</a>
                        </form>
                        <% } %>
                    </h4>
                    <span class="comment-info markdown-body">
                        <%= item.html %>
                    </span>
                </div>
            </li>
            <% }.bind(this)); %>
        </ul> 
        <% }else{ %>
        <p class="comment-empty">暂没有回复</p>
        <% } %>
    </div>
    <% if(this.user){ %>
        <a id="comment-editor" class="anchor"></a>
        <form class="panel-footer comment-form" action="/topic/<%= this.id %>/addComment" method="post">
            <p class="form-row alert-text">
                <%= this.commentMessage %>
            </p>
            <p class="form-row">
                <textarea name="content" id="editor" class="editor" placeholder="内容..."><%= this.newComment %></textarea>
            </p>
            <p class="form-row align-right" style="margin-bottom:0px;">
                
                <input type="submit" value="提交评论">
            </p>
        </form>
        <script src="/mditor/build/js/mditor.min.js"></script>
        <script>
            var mditor = new Mditor("#editor");
        </script>
    <% }else{ %>
        <div class="panel-footer">
            <a href="/signin">登录</a>后可以回复
        </div>
    <% } %>
</div>