<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>用户信息 | <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<% var user = this.user  %>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div class="panel-body user-info">
        <img class="avatar" src="<%= user.avatar %>"/>
        <ul class="integral-list">
            <li>名称: <%= user.name %></li>
            <li>积分: <%= user.integral %></li>
            <li>注册: <%= $.timeago(user.signUpAt) %></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">最近话题</div>
    <div class="panel-body">
       
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">最近评论</div>
    <div class="panel-body">
       
    </div>
</div>

<% $.placeEnd() %>