<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>用户信息 | <%= $.configs.name %></title>
    <meta name="keywords" content="<%= $.configs.keywords %>"/>
    <meta name="description" content="<%= $.configs.description %>"/>
    <meta name="author" content="<%= $.configs.author %>"/>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<% var user = this.user  %>
<div class="panel panel-default">
    <div class="panel-heading">
        基本信息
        <% var loginUser = $.controller.context.user  %>
        <% if(loginUser && loginUser._id.toString()==this.user._id.toString()){ %>
        <a class="pull-right" href="/profile">
            修改
        </a>
        <% } %>
    </div>
    <div class="panel-body user-info">
        <img class="avatar" src="<%= user.avatar %>"/>
        <ul class="integral-list">
            <li>名称: <%= user.name %></li>
            <li>积分: <%= user.score %></li>
            <li>注册: <%= $.timeago(user.signUpAt) %></li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">草稿话题</div>
    <div class="panel-body">
       <% if(this.draftList &&　this.draftList.length>0){ %>
        <ul class="integral-list topic-list">
            <% $.each(this.draftList,function(i,item){ %>
            <li>
                <a href="/topic/<%= item.id %>/edit"><%= item.title || "无标题" %></a>
                <span class="pull-right topic-info" title="<%= $.formatDate(item.createAt,'yyyy-MM-dd hh:mm') %>">
                     <%= $.timeago(item.createAt) %>
                </span>
            </li>
            <% }.bind(this)); %>
        </ul>
        <% }else{ %>
        <p class="topic-empty align-left">没有最近话题</p>
        <% } %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">最近话题</div>
    <div class="panel-body">
       <% if(this.topicList &&　this.topicList.length>0){ %>
        <ul class="integral-list topic-list">
            <% $.each(this.topicList,function(i,item){ %>
            <li>
                <a href="/topic/<%= item.id %>"><%= item.title %></a>
                <span class="pull-right topic-info" title="<%= $.formatDate(item.createAt,'yyyy-MM-dd hh:mm') %>">
                     <%= $.timeago(item.createAt) %>
                </span>
            </li>
            <% }.bind(this)); %>
        </ul>
        <% }else{ %>
        <p class="topic-empty align-left">没有最近话题</p>
        <% } %>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">最近参与评论</div>
    <div class="panel-body">
       <% if(this.commentList &&　this.commentList.length>0){ %>
       <ul class="integral-list topic-list">
            <% $.each(this.commentList,function(i,item){ %>
            <li>
                <a href="/topic/<%= item.topic.id %>#<%= item.id %>"><%= item.topic.title %></a>
                <span class="pull-right topic-info" title="<%= $.formatDate(item.createAt,'yyyy-MM-dd hh:mm') %>">
                     <%= $.timeago(item.createAt) %>
                </span>
            </li>
            <% }.bind(this)); %>
        </ul>
       <% }else{ %>
       <p class="topic-empty align-left">没有最近评论</p>
       <% } %>
    </div>
</div>

<% $.placeEnd() %>