<% $.master("./layout/master.html") %> 
    
<% $.placeBegin("head") %>
    <title>用户信息 | <%= $.seo.name %></title>
    <meta name="keywords" content="<%= $.seo.keywords %>"/>
    <meta name="description" content="<%= $.seo.description %>"/>
    <meta name="author" content="<%= $.seo.author %>"/>
<% $.placeEnd() %>

<% $.placeBegin("content") %>

<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div class="panel-body">
       
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">最近话题</div>
    <div class="panel-body">
       
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">最近评论</div>
    <div class="panel-body">
       
    </div>
</div>

<% $.placeEnd() %>