<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <% $.placeHolder('head') %>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ad51a52cdcb35d3349b188790ed6d4fd";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <form action="/search" method="get" class="navbar-form navbar-left" role="search" autocomplete="off">
                    <div class="form-group">
                        <input name="keyword" type="text" style="min-width:240px;" class="form-control" placeholder="搜索话题、人..." value="<%= this.keyword||'' %>">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="/topic">话题</a></li>
                    <!--<li><a href="/active">活动</a></li>-->
                    <li><a href="/about">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% var user = $.controller.context.user  %>
                    <% if(user){ %>
                    <li>
                        <a href="javascript:;" class="dropdown-toggle user-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="navbar-avatar" src="<%= user.avatar %>"/><%= user.name||user.email %>
                        </a>
                        <ul class="dropdown-menu user-menu-ul">
                            <li><a href="/profile">个人中心</a></li>
                            <li><a href="/control-panel">控制面板</a></li>
                            <li><a href="/profile/signout">退出</a></li>
                        </ul>
                    </li>
                    <% }else{ %>
                    <li><a href="/signup">注册</a></li>
                    <li><a href="/signin">登录</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-9 col-main">
                <% $.placeHolder("content") %>
            </div>
            <div class="col-sm-3 col-slide">
                <div class="panel panel-default">
                    <form action="/topic/edit/new" method="post" class="panel-body">
                        <button class="new-topic">发布话题</button>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        积分榜
                        <a class="pull-right" href="/integral-list">更多...</a>
                    </div>
                    <div class="panel-body">
                        <ul class="integral-list">
                            <li>张三<span class="pull-right">1000</span></li>
                            <li>李四<span class="pull-right">900</span></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        友情社区
                    </div>
                    <div class="panel-body">
                        <ul class="integral-list">
                            <li><a href="http://www.cnodejs.org">CNodeJs</a></li>
                            <li><a href="http://segmentfult.com">SegmentFult</a></li>
                            <li><a href="https://ruby-china.org/">Ruby China</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footbar">
        <div class="container">
           <ul class="footbar-nav">
               <li><a href="/client">客户端</a></li>
               <li><a href="/api">API</a></li> 
               <li><a href="https://github.com/jser-dev">GitHub</a></li>
               <li><a href="http://weibo.com/jser-dev">微博</a></li>
               <li><a href="http://twitter.com/jser-dev">Twitter</a></li>
           </ul>
           <p class="footbar-info">
               一个 “纯粹、简单、自由” 的 “JS程序猿” 社区，
               2015-<%= (new Date()).getFullYear() %> <a href="/">JSER.CC</a>
           </p> 
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>