<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
    <meta name="description" content="JSER 社区">
    <meta name="author" content="jser team">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <% $.placeHolder('head') %>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ad51a52cdcb35d3349b188790ed6d4fd";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                </a>
            </div>
            <div id="navbar">
                <form action="/search" method="get" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input name="keyword" type="text" style="width:240px;" class="form-control" placeholder="搜索话题、人..." value="<%= this.keyword||'' %>">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="/">话题</a></li>
                    <li><a href="/about">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% var user = $.controller.context.user  %>
                    <% if(user){ %>
                    <li><a href="/profile"><%= user.name||user.email %></a></li>
                    <% }else{ %>
                    <li><a href="/signup">注册</a></li>
                    <li><a href="/signin">登录</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-9 col-main">
                <% $.placeHolder("content") %>
            </div>
            <div class="col-xs-3 col-slide">
                <div class="card">
                    <form action="/topic/edit/new" method="post" class="card-panel">
                        <button class="new-topic">发布话题</button>
                    </form>
                </div>
                <div class="card">
                    <h5 class="card-title">积分榜</h5>
                    <div class="card-panel">
                        <ol class="list-unstyled">
                            <li><a href="#">张三</a></li>
                            <li><a href="#">李四</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footbar">
        <div class="container">
            Copyright © 2011-2015 JSER.CC 当前版本 1.0.0
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>