<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/client/pjax.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <% $.placeHolder('head') %>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?ad51a52cdcb35d3349b188790ed6d4fd";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <% if($.context.isWeChat){ %>
    <div style="display:none;">
        <img src="/images/favicon-300.png" alt="favicon" />
    </div>
    <% } %>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" data-pjax-container=".col-main">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <form action="/search" method="get" class="navbar-form navbar-left" role="search" autocomplete="off">
                    <div class="form-group">
                        <input name="keyword" type="text" style="min-width:240px;" class="form-control" placeholder="搜索话题、人..." value="<%= this.keyword||'' %>">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="/topic" data-pjax-container=".col-main">话题</a></li>
                    <!--<li><a href="/active">活动</a></li>-->
                    <li><a href="/about" data-pjax-container=".col-main">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% var user = $.controller.context.user  %>
                    <% if(user){ %>
                    <li>
                        <a href="javascript:;" class="dropdown-toggle user-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="navbar-avatar" src="<%= user.avatar %>"/>
                          <%= user.name||user.email %>
                          <% if($.context.unreadMsgCount>0){ %>
                          <span class="badge"><%= $.context.unreadMsgCount %></span>
                          <% } %>
                        </a>
                        <ul class="dropdown-menu user-menu-ul">
                            <li>
                                <a href="/message" data-pjax-container=".col-main">
                                    我的消息
                                    <% if($.context.unreadMsgCount>0){ %>
                                    <span class="badge"><%= $.context.unreadMsgCount %></span>
                                    <% } %>
                                </a>
                            </li>
                            <li><a href="/user/<%= user.name %>"  data-pjax-container=".col-main">个人中心</a></li>
                            <!--<li><a href="/control-panel">控制面板</a></li>-->
                            <li><a href="/profile/signout">注销登录</a></li>
                        </ul>
                    </li>
                    <% }else{ %>
                    <li><a href="/signup" data-pjax-container=".col-main">注册</a></li>
                    <li><a href="/signin" data-pjax-container=".col-main">登录</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container container-main">
        <div class="row">
            <div class="col-sm-9 col-main">
                <% $.placeHolder("content") %>
            </div>
            <div class="col-sm-3 col-slide">
                <div class="panel panel-default">
                    <form action="/topic/new" method="post" class="panel-body">
                        <button class="new-topic">新建话题</button>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        积分榜
                        <a class="pull-right" href="/users" data-pjax-container=".col-main">更多</a>
                    </div>
                    <div class="panel-body">
                        <% var userList = $.controller.context.topUserList %>
                        <ul class="integral-list">
                            <% $.each(userList,function(i,item){ %>
                            <li>
                                <a href="/user/<%= item.name %>" data-pjax-container=".col-main"><%= item.name %></a>
                                <span class="pull-right"><%= item.score %></span>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        推广链接
                    </div>
                    <div class="panel-body panel-ad">
                       <a href="http://www.qcloud.com/redirect.php?redirect=1001&cps_key=f6bd3754fee1006b223a48ea1badcb4c" target="_blank">
                        <img src="/ad/qcloud/300x100.jpg" alt="腾讯云服务器安全可靠高性能，多种配置供您选择" />
                       </a>
                       <!--<div style="background:#f8f8f8;height:180px;overflow: hidden;">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <ins class="adsbygoogle"
                                style="display:block"
                                data-ad-client="ca-pub-1614807347395772"
                                data-ad-slot="9281788455"
                                data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                       </div>-->
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        友情社区
                    </div>
                    <div class="panel-body">
                        <ul class="integral-list">
                            <% $.each($.configs.links,function(i,item){ %>
                            <li><a href="<%= item.url %>" target="_blank"><%= item.name %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footbar">
        <div class="container">
           <ul class="footbar-nav">
               <li><a href="/client" data-pjax-container=".col-main">客户端</a></li>
               <li><a href="/api" data-pjax-container=".col-main">API</a></li> 
               <% $.each($.configs.footbar.links,function(i,item){ %>
               <li><a href="<%= item.url %>" target="_blank"><%= item.name %></a></li>
               <% }) %>
           </ul>
           <p class="footbar-info">
               <%= $.configs.footbar.info %> , 
               <%= $.configs.buildYear %>-<%= (new Date()).getFullYear() %> , 
               <a href="/" data-pjax-container=".col-main"><%= $.configs.domain.toUpperCase() %></a>
           </p> 
           <!--<a href="" target="blank">
               <img src="http://assets.qiniu.com/qiniu-122x65.png"/>
           </a>-->
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/client/pjax.min.js"></script>
</body>

</html>